

  .felx1{
    display: flex;
    
    flex-direction: row;

  }
  .imgc{
    width:60%;
  
  }

.divnext{
  width:50%;
  
  
}

.fa-star{
  color: LightSeaGreen;
}


 
@media only screen and (max-width: 600px) {
  .divnext,.felx1, {
    display:flex;
    background-color: whitesmoke;
    width:100%;
    flex-direction: column;

  }
  .ismg{
    width:50%;
    margin-left: 1.2in;
    display:flex;
    flex-direction:row;
   
  }
 
 
}
  

img{
  width:68%;
}
.downimage{
  width:15%;
  
}

 body{
   background-color: whitesmoke;
   font-family: arial;
 }

  

  